@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url(./public/poppins/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(./public/poppins/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(./public/poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
}

:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: #000;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}